#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputs-outputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
}

.inputs {
  background-color: aquamarine;
}

.cv-header {
  line-height: 0.7rem;
}

.work-experience-header {
  margin-top: 40px;
  /* line-height: 0.5rem; */
}

.work-experience-body {
  display: flex;
  justify-content: left;
}

.outputs {
  background-color: beige;
  border: 2px solid black;
  color: black;
}

hr.solid {
  border-top: 1px solid #595757;
  width: 80%;
}
